//
   Created by Yurina on 2016/06/10.

doctype html
html(lang='ja')
    head
        // Use correct character set.
        meta(charset='utf-8')
        // Tell IE to use the latest, best version (or Chrome Frame if pre-IE11).
        meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
        // Make the application on mobile take up the full browser screen and disable user scaling.
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')
        title EthiopiaArchive
        script(src='http://yui.yahooapis.com/3.18.1/build/yui/yui-min.js')
        style.
            @import url(./css/sweetalert.css);
            @import url(./Cesium/Widgets/widgets.css);
            @import url(./Cesium/Widgets/lighter.css);
            @import url(./css/init.css);
            @import url(./css/style.css);
    body.sandcastle-loading
        #cesiumContainer.fullSize
        #loadingOverlay
            img(src='res/logo.png')
        #cesiumContainerMini.miniSize
        #animation
            button.whiteBut(onclick='toggleSlow()')
                img(src='res/slow.png')
            button#startBtn.whiteBut(onclick='toggleStart();')
                img#playBtn(src='res/play.png')
            button.whiteBut(onclick='toggleRapid()')
                img(src='res/rapid.png')
            label#currentTime.current time
        .yui3-skin-sam
            .slider_group.center
                p.independent_title タイムスパン
                #toolbar
                #sliderSingle.sliderSingle
                    #slider(style='display: inline-block')
                    label#txtSlider
            .slider_group.center
                p.independent_title 絞り込み範囲
                #sliderDual.sliderDual.center
                    #sliderA
                    #sliderB
                    div
                        label#txtSliderA
                        |  -
                        label#txtSliderB
            .slider_group.center
                #search_result
                    p.title_bar.center 検索結果
                    #result_box.collapsible_content.center
                        p#searching 検索中...
                        p#keyword
                        button#close(onclick='clearFile();') ×
                        p#result
        #collapsible_group
            .collapsible_inner
                #timeline
                    .title_bar
                        img#timeline_collapse(src='res/arrow_left.png', height='10px', onclick="collapse('timeline');", style='cursor: pointer')
                        img#timeline_expand(src='res/arrow_right.png', height='10px', onclick="expand('timeline');", style='display: none; cursor: pointer')
                        |                     タイムライン
                    #collapse_content_timeline.collapsible_content
                        #list
                            table#list_table.listtable.float_left
                            table.listbar
                                tr
                                    td.arrow(onclick='listBack(false)')
                                        img(src='res/listback.png')
                                tr
                                    td
                                tr
                                    td.arrow(onclick='listNext(false)')
                                        img(src='res/listnext.png')
            .collapsible_inner
                #search
                    .title_bar
                        img#search_collapse(src='res/arrow_left.png', height='10px', onclick="collapse('search');", style='cursor: pointer')
                        img#search_expand(src='res/arrow_right.png', height='10px', onclick="expand('search');", style='display: none; cursor: pointer;')
                        |                     検索
                    #collapse_content_search.collapsible_content
                        p.content_title フリーキーワード検索
                        .innerset.small
                            input(type='text', name='keyword', size='25')
                            input(type='radio', name='search_type', value='and', checked='')
                            | 　AND検索　
                            input(type='radio', name='search_type', value='or')
                            | 　OR検索
                        p.center
                            button(type='button', onclick='search_keyword();', style='background:url(res/button_search.png); cursor:pointer; border:0px; height:25px; width:150px; margin:0px; padding:0px;')
                        input(type='hidden', name='tab', value='tab-search')
                        input(type='hidden', name='initbegin', value='')
                        input(type='hidden', name='initend', value='')
        script(src="./Cesium/Cesium.js")
        script(src="./js/main.js")
