//
   Created by Yurina on 2016/06/10.

html
    head
        meta(content='text/html; charset=UTF-8', http-equiv='Content-Type')
        title EthiopiaArchive
        script(type='text/javascript', src='https://www.google.com/jsapi')
        script(src='http://maps.google.com/maps/api/js?sensor=true')
        style.
            @import url(./css/init.css);
            @import url(./css/style.css);
        script(type='text/javascript').
            window.onload=init;
            function init(){
                var k = 30;
                var filePath = "csv/chart_k30.csv";
                var csvData = new Array();
                var data = new XMLHttpRequest();
                data.open("GET", filePath, false); //true:非同期,false:同期
                data.send(null);
                var CRLF = String.fromCharCode(13,10); //改行ｺｰﾄﾞ
                var lines = data.responseText.split(CRLF);
                for (var i = 0; i < lines.length; i++){
                    var cells = lines[i].split(",");
                    if( cells.length != 1 ) {
                        csvData.push(cells);
                    }
                }
                var arr = new Array();
                for(var j=0; j<k; j++){
                    var item = new Array();
                    item[0] = '<tr><th>V' + eval(j+1) + '</th>';
                    var count = csvData[j+1].length;
                    for(var i=1; i<count; i++){
                        if(csvData[j+1][i]){
                            item[i] = '<td><div><span class="V' + eval(j+1) + '" title = "' + csvData[j+1][i] + '" onclick="tp(this)">' + csvData[j+1][i] + '</span></div></td>';
                        }
                    }
                    item[count] = '</tr>';
                    arr[j] = item.join("");
                }
                var whole = arr.join("");
                document.getElementById("topic").innerHTML = "<table>" + whole + "</table>";
            }
            function tp(obj){
                var topic = obj.className;
                var term = obj.innerHTML;
                window.opener.select_word(topic, term);
            }
    body(style='overflow: scroll; height:100%; width:100%;')
        #topic
