html {
  height: 100%;
}

body {
  color: #333;
  font-family: sans-serif;
  font-size: 9pt;
  line-height: 150%;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.fullSize {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 100%;
  height: 100%;
}

.miniSize {
  display: block;
  position: absolute;
  bottom: 27px;
  right: 0;
  border-top: solid #000 1px;
  border-left: solid #000 1px;
  width: 250px;
  height: 150px;
}
.miniSize .cesium-viewer-toolbar, .miniSize .cesium-viewer-fullscreenContainer{
  display: none;
  visibility: hidden;
}

#loadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  display: none;
}

#loadingOverlay img {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.sandcastle-loading #loadingOverlay {
  display: block;
}

.sandcastle-loading #toolbar {
}

#toolbar {
  padding: 2px 0px;
}

#animation {
  position: absolute;
  bottom: 30px;
  left: 0px;
}
#animation .current{
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 1px #333333;
}

.yui3-skin-sam{
  position: relative;
  left: 0px;
  top: 0px;
}

.slider_group{
  padding: 10px;
  vertical-align: top;
  min-width: 120px;
  float: left;
}

.sliderSingle label{
  color: #ffffff;
  text-shadow: 1px 1px 1px #333333;
  padding-left: 10px;
}

.sliderDual{
  color: #ffffff;
  text-shadow: 1px 1px 1px #333333;
  font-size: 11px;
}

/* Ponemos la barra B sobre la A*/
.sliderDual div:nth-child(1){
  position: absolute;
}

/* Subimos de nivel del elemento desplazable de la barra A */
.sliderDual div:first-child span.yui3-slider-thumb {
  z-index:5;
}

#collapsible_group{
  top: 0px;
  left: 0px;
  position: relative;
  max-width: 150px;
  clear: both;
}

#timeline{
  margin: 10px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0 0 10px 1px #000;
}

#search{
  margin: 10px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0 0 10px 1px #000;
}

#search_result{
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0 0 10px 1px #000;
}

.title_bar{
  background: #666;
  color: #ffffff;
  padding: 5px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
}

.independent_title{
  background-color: #666666;
  padding: 5px;
  color: #ffffff;
  text-shadow: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0 0 10px 1px #000;
}

.collapsible_content{
  position: relative;
  padding: 5px;
  background-color: #eeeeee;
  color: #333333;
  overflow: auto;
  height: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
#search .collapsible_content{
  width: 330px;
}
#timeline .collapsible_content{
  width: 330px;
}

.content_title{
  background-color: #999999;
  padding: 5px;
  margin-bottom: 5px;
  color: #ffffff;
  text-shadow: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.content_sub_title{
  background-color: #cccccc;
  margin-left: 10px;
  margin-bottom: 5px;
  padding: 5px;
  color: #666666;
  text-shadow: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#result_box{
  position: relative;
}

#result{
  color: #ea5514;
}

button#close {
  display: none;
  position: absolute;
  top: 3px;
  right: 3px;
  height: 20px;
  background: transparent;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  font-size: 16px;
  padding: 0 5px;
  margin: 0;
  color: #666666;
}

button#close:hover {
  background: #999;
  color: #000;
}

button#close:active {
  background: #0077cc;
  color: #fff;
}

button.whiteBut {
  height: 24px;
  width: 24px;
  background: #333333;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  font-size: 16px;
  padding: 2px;
  margin: 5px;
  color: #ffffff;
}

button.whiteBut:hover {
  background: #999;
  color: #000;
}

button.whiteBut:active {
  background: #0077cc;
  color: #fff;
}

button.whiteBut img{
  height: 20px;
  width: 20px;
}


#searching{
  display: none;
}

#keyword{
  display: none;
  margin-right: 30px;
  margin-left: 30px;
}

/*子ウィンドウ----------------------*/
.newwindow{
  margin: 10px;
}

/*セッティング & 検索----------------*/
.innerset{
  padding: 0px 5px 5px 5px;
}
.innerset_sub{
  padding: 0px 5px 5px 15px;
}
.innersearch{
  padding: 5px;
  height: 590px;
  overflow-y: auto;
}

.tbox {position:absolute; display:none; padding:14px 17px; z-index:900}
.tinner {padding:15px; -moz-border-radius:5px; border-radius:5px; background:#fff url(../img/preload.gif) no-repeat 50% 50%; border-right:1px solid #333; border-bottom:1px solid #333}
.tmask {position:absolute; display:none; top:0px; left:0px; height:100%; width:100%; background:#000; z-index:800}
.tclose {position:absolute; top:0px; right:0px; width:30px; height:30px; cursor:pointer; background:url(../img/close.png) no-repeat}
.tclose:hover {background-position:0 -30px}

#error {background:#ff6969; color:#fff; text-shadow:1px 1px #cf5454; border-right:1px solid #000; border-bottom:1px solid #000; padding:0}
#error .tcontent {padding:10px 14px 11px; border:1px solid #ffb8b8; -moz-border-radius:5px; border-radius:5px}
#success {background:#2ea125; color:#fff; text-shadow:1px 1px #1b6116; border-right:1px solid #000; border-bottom:1px solid #000; padding:10; -moz-border-radius:0; border-radius:0}
#bluemask {background:#4195aa}
#frameless {padding:0}
#frameless .tclose {left:6px}

/*トピック一覧----------------------*/
#topic{
  padding: 5px;
}

#topic table{
  font-size: 12px;
}

#topic td{
  width: 50px;
  height: 16px;
  padding: 2px;
  word-break:break-all;
}

#topic div{
  overflow: hidden;
  width: inherit;
  height: inherit;
}

/*フレーム内----------------*/

.content{
  padding: 10px;
  height: 90%;
}

.titlebar{
  border-collapse: collapse;
  width: 400px;
  height: 25px;
  line-height: 100%;
  background-image: url(../img/titlebar.png);
  color: #fff;
}
.titlebar td{
  text-align: center;
  vertical-align: middle;
  padding: 5px;
}
.titlebar .icon{
  width: 26px;
}

.titlebar1{
  border-collapse: collapse;
  position: absolute;
  right: 0;
  top: 40px;
  width: 400px;
  height: 25px;
  line-height: 100%;
  background-image: url(../img/titlebar.png);
  color: #fff;
  z-index:5;
}
.titlebar1 td{
  text-align: center;
  vertical-align: middle;
  padding: 5px;
}
.titlebar1 .icon{
  width: 26px;
}

.titlebar2{
  border-collapse: collapse;
  position: absolute;
  right: 0;
  top: 305px;
  width: 400px;
  height: 25px;
  line-height: 100%;
  background-image: url(../img/titlebar.png);
  color: #fff;
  z-index:5;
}
.titlebar2 td{
  text-align: center;
  vertical-align: middle;
  padding: 5px;
}
.titlebar2 .icon{
  width: 26px;
}

.tab{
  width: 123px;
  height: 15px;
  background-image: url(../img/tab.png);
  cursor: pointer;
}

.tab-current{
  width: 123px;
  height: 15px;
  background-image: url(../img/tab-current.png);
}

#innertab{
  margin-top: 65px;
  width: 100%;
  height: 240px;
}

#list{
  display: block;
}

.listtable{
  border: 0;
  border-collapse: collapse;
  margin: 0 3px 0 0;
  padding: 0;
  line-height: 100%;
  font-size: 12px;
}
.listtable td{
  padding: 0px 5px;
  vertical-align: middle;
  height: 24px;
}
.list{
  cursor: pointer;
}
.list-current{
  background-color: #ffffff;
}
.list-text{
  width: 265px; /* 要素の横幅を指定 */
  white-space: nowrap; /* 横幅のMAXに達しても改行しない */
  overflow: hidden; /* ハミ出した部分を隠す */
  text-overflow: ellipsis; /* 「…」と省略 */
  -webkit-text-overflow: ellipsis; /* Safari */
  -o-text-overflow: ellipsis; /* Opera */
  max-lines: 1;
  height: 24px;
  line-height: 2;
}

.listbar{
  border: 1px #F39800 solid;
  background-color: #ffffff;
  width: 22px;
  margin: 0;
  padding: 0;
  line-height: 100%;
}
.listbar td{
  height: 116px;
  padding: 2px;
}

.listbar .arrow{
  width: 18px;
  height: 18px;
  cursor: pointer;
}

ul{
  padding: 0;
  list-style-type: none;
}
li{
  float: left;
  width: 100px;
  text-align: center;
}

li img{
  vertical-align: middle;
}
th{
  text-align: left;
}
input:disabled{
  background-color: #ccc;
}
select:disabled{
  background-color: #ccc;
}

/*ベーシック--------------------*/

img{
  display: inline-block;
}

.center{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.tablecenter{
  margin: 0 auto;
}

.left{
  text-align: left;
}
.right{
  text-align: right;
  font-size: 12px;
}

.idnumber{
  display: none;
}

.float_left{
  float: left;
}
.float_right{
  float: right;
}
.small{
  font-size: 12px;
}