body,div,pre,p,blockquote,
form,fieldset,input,textarea,select,option,
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
table,th,td,embed,object {
margin: 0;
padding: 0;
}

a{
    text-decoration: none;
    font-weight: bolder;
}
a:link, a:visited{
    color: #0066ff;
}
a:hover, a:active{
    color: #013461;
}

html {
	/*font-size: 62.5%;*/ 
}
body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	font-size: 12px;
	line-height: 150%;
}

table {
	border-collapse: collapse;
	border: none;
}

input:focus {
    outline: none;
}

td{
	vertical-align: middle;
}

h1 { 
	font-size: 18px;
}
h2 { 
	font-size: 17px;
}
h3 { 
	font-size: 16px;
}
h4 { 
	font-size: 12px;
    font-weight : normal;
}
h5{
	font-size: 12px;
	font-weight : normal;
}