@import url(../../../Source/Widgets/widgets.css);
@import url(../../../Source/Widgets/lighter.css);

html {
    height: 100%;
}

body {
    background: #000;
    color: #eee;
    font-family: sans-serif;
    font-size: 9pt;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fullSize {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    width: 100%;
    height: 100%;
}

#loadingOverlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    display: none;
}

#loadingOverlay h1 {
    text-align: center;
    position: relative;
    top: 50%;
    margin-top: -0.5em;
}

.sandcastle-loading #loadingOverlay {
    display: block;
}

.sandcastle-loading #toolbar {
}

#toolbar {
    margin: 5px;
    padding: 2px 5px;
    position: absolute;
}
